.video-background {
  overflow-y: hidden;
  width: 100%;
  height: 100vh;
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .content {
    h1 {
      margin: 0;
    }
    p {
      width: 60%;
      margin: 2rem 2rem 2rem 2rem;
    }
    position: absolute;
    width: 100%;
    top: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 1.5rem;

    @media screen and (max-width: 641px) {
      text-align: center;
      h1 {
        font-size: 2.6rem;
      }
      p {
        width: 93%;
        margin: 2rem 2rem 2rem 2rem;
      }

      top: 10rem;
    }

    // scss for the button
    .button1 {
      display: inline-block;
      padding: 0.35em 1.2em;
      border: 0.1em solid #ffffff;
      margin: 0 0.3em 0.3em 0;
      border-radius: 0.12em;
      box-sizing: border-box;
      text-decoration: none;

      // font-weight: 300;
      color: #ffffff;
      text-align: center;
      transition: all 0.2s;

      &:hover {
        color: #000000;
        background-color: #ffffff;
      }

      @media all and (max-width: 30em) {
        display: block;
        margin: 0.4em auto;
      }
    }
  }

  @media screen and (max-width: 376px) {
    .content {
      top: 7rem;
    }
  }
}
